
.bodyCrear{
	width: 800px;
	margin: 25px;
}

#lBarcosPropios{
	background-color: rgba(0,0,0,0.7);
	font-size: 30px !important;
	color:#FFF;
	padding: 10px;
	border-radius: 15px;
	position: absolute;
	text-align: center;
}
#lBarcosEnemigos{
	background-color: rgba(0,0,0,0.7);
	font-size: 30px !important;
	color:#FFF;
	padding: 10px;
	border-radius: 15px;
	position: absolute;
	text-align: center;
}

#lTurno{
	background-color: rgba(0,100,0,0.7);
	font-size: 30px !important;
	color:#FFF;
	padding: 10px;
	border-radius: 15px;
	position: absolute;
	text-align: center;
}
#lTurnoContrario{
	background-color: rgba(100,0,0,0.7);
	font-size: 30px !important;
	color:#FFF;
	padding: 10px;
	border-radius: 15px;
	position: absolute;
	text-align: center;
}
#divColocarBarcos{

	height:150px;
	width: 500px;
}
#avisoColocar{
	background-color: rgba(50,50,50,0.7);
	font-size: 30px !important;
	color:#FFF;
	padding: 10px;
	border-radius: 15px;
	position: absolute;
	text-align: center;
}
#colocandoActual{
	background-color: rgba(100,0,0,0.7);
	font-size: 30px !important;
	color:#FFF;
	padding: 10px;
	border-radius: 15px;
	position: absolute;
	text-align: center;
}
#divTurnos{
	height: 150px;
}
#divPrincipal{
	width: 600px;
	margin: 25px auto;
	
}
#divPrincipal h1{
	width: 100%;
	background-color: rgba(50,50,200,0.7);
	color: #FFF;
	padding: 15px;
	border-radius: 15px;
	text-align: center;
}
#divPrincipal div{
	width: 100%;
	background-color: rgba(100,100,100,0.7);
	color: #FFF;
	padding: 15px;
	border-radius: 15px;
	text-align: center;
}
#divPrincipal div div{
	background-color: rgba(230,230,230,0.7);
}
#divPrincipal div div select{
	color: #000 !important;
}
#divPrincipal div button{
	width: 400px;
	margin-left: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#bodyBlue{
	background-image:url("img/fondo.jpg");;
}
#botonesArmas{
	position: absolute;
}
#gifExplosion{
	position: absolute;
	left: 100px;
	top: 200px;
}